body
{
    background-color: rgb(16, 20, 24);
}

#navBar
{
    
}

#navBarList
{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(16, 20, 24);
    display: inline;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.navBarItems
{
    float: left;
}

.navBarLinks
{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navBarLinks:hover
{
    background-color: rgb(15, 15, 15);
}

#formLogin
{
    position: fixed;
    z-index: 1;
    width: 15%;
    background-color: rgb(24, 28, 32);
    padding-left: 24px;
    padding-bottom: 24px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    margin-top: 10px;
    right: 9px;
}

#formSignup
{
    position: fixed;
    z-index: 1;
    width: 15%;
    background-color: rgb(24, 28, 32);
    padding-left: 24px;
    padding-bottom: 24px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    margin-top: 10px;
    right: 9px;
}

#h1Login
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#h1Signup
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input
{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input
{
    width: 85%;
    margin-bottom: 6px;

    outline: none;
    outline-style: none;
    border: 1px solid;
    outline-width: 0;
    border-radius: 0;
}

.input:focus
{
    width: 85%;
    outline: none;
    outline-style: none;
    border: 1px solid;
    outline-width: 0;
    border-radius: 0;
}

#indexMainImg
{
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(100, 100, 100);
    filter: brightness(70%);
}

#mainContent
{
    margin-top: 46px;
}

#h1Title
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 52px;

    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    overflow:auto;
}

#buttonLearnMore
{
    cursor: pointer;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 2.5%;
}

h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

h3
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

h4
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

#productPricing
{
    text-align: center;
    padding-top:  8px;
    padding-bottom: 50px;
    background-color: rgb(24, 28, 32);
    border-bottom: 1px solid rgb(100, 100, 100);
}

#productPricing h2
{
    font-size: 32px;
}

#productLeft
{
    margin: 10px 10px;
    padding: 10px 10px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: left;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    width: 250px;
    background-color: rgb(24, 28, 32);
}

#productCenter
{
    margin: 10px 10px;
    padding: 10px 10px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: left;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    width: 250px;
    background-color: rgb(24, 28, 32);
}

#productRight
{
    margin: 10px 10px;
    padding: 10px 10px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: left;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    width: 250px;
    background-color: rgb(24, 28, 32);
}

#buttonPurchase
{
    cursor: pointer;

    position: absolute;
    transform: translate(-50%, 12%);
    width: 5%;
    height: 2.5%;
}

#productDescriptions
{
    margin: 26px 24%;
}

#descMain
{
    display: block;
    font-size: 18px;

    border-bottom: 1px solid rgb(100, 100, 100);
}

#descMain h2
{
    font-size: 32px;
}

#descMaps
{
    display: inline-block;
    text-align: left;
    width: 32%;
}

#descAmmoChart
{
    display: inline-block;
    text-align: left;
    width: 32%;
    padding-left: 1.5%;
}

#descQuestHelper
{
    display: inline-block;
    text-align: left;
    width: 32%;
    padding-left: 1.5%;
}

#descPriceCheck
{
    display: inline-block;
    text-align: left;
    width: 32%;
}

#descLoadout
{
    display: inline-block;
    text-align: left;
    width: 32%;
    padding-left: 1.5%;
}

#descOverlay
{
    display: inline-block;
    text-align: left;
    width: 32%;
    padding-left: 1.5%;
}

i
{
    padding-left: 20%;
}

#features
{
    display: inline;
}

hr
{
    border: 1px solid rgb(100, 100, 100);
    border-top: 0px;
}

#copyright
{
    color: rgb(100, 100, 100);
}