body
{
    background-color: rgb(16, 20, 24);
}

#navBar
{
}

#navBarList
{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(16, 20, 24);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.navBarItems
{
    float: left;
}

.navBarLinks
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navBarLinks:hover
{
    background-color: rgb(15, 15, 15);
}

.input
{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 85%;
    margin-bottom: 6px;

    outline: none;
    outline-style: none;
    border: 1px solid;
    outline-width: 0;
    border-radius: 0;
}

.input:focus
{
    width: 85%;
    outline: none;
    outline-style: none;
    border: 1px solid;
    outline-width: 0;
    border-radius: 0;
}

#formLogin
{
    position: fixed;
    z-index: 1;
    width: 15%;
    background-color: rgb(24, 28, 32);
    padding-left: 24px;
    padding-bottom: 24px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    margin-top: 10px;
    right: 9px;
}

#formSignup
{
    position: fixed;
    z-index: 1;
    width: 15%;
    background-color: rgb(24, 28, 32);
    padding-left: 24px;
    padding-bottom: 24px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    margin-top: 10px;
    right: 9px;
}

#h1Login
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#h1Signup
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mainContent
{
    margin-top: 46px;
}

h1
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#product
{
    display: block;
    padding-bottom: 24px;
}

#billing
{
    display: inline-block;
    width: 7%;
    padding-right: 24px;
    padding-bottom: 24px;
}

#cardInfo
{
    display: inline-block;
    width: 7%;
}

label
{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input
{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputBilling
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    width: 100%;
}

.inputPayment
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    width: 100%;
}

.inputBilling:focus
{
    width: 100%;
    outline: none;
    outline-style: none;
    border: 1px solid;
    outline-width: 0;
    border-radius: 0;
}

.inputPayment:focus
{
    width: 100%;
    outline: none;
    outline-style: none;
    border: 1px solid;
    outline-width: 0;
    border-radius: 0;
}

select
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 7%;
    outline: none;
    outline-style: none;
    border: 1px solid;
    outline-width: 0;
    border-radius: 0;
}

p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

i
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

hr
{
    border: 1px solid rgb(100, 100, 100);
    border-top: 0px;
}

#copyright
{
    color: rgb(100, 100, 100);
}