<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Contact Us page for Terragroup Archives">
        <meta name="keywords" content="Terragroup, Archives, Escape, Tarkov, eft">
        <meta name="author" content="Michael Zeleney">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/public/CSS/ContactUs.css">

        <link rel="shortcut icon" href="/public/Images/Favicon.png" type="image/x-icon">

        <title>Terragroup Archives</title>
    </head>

    <body>
        <header id="pageHeader">
            <nav id="navBar">
                <ul id="navBarList">
                    <il class="navBarItems"><a href="/index" class="navBarLinks">Home</a></il>
                    <il class="navBarItems"><a href="/Purchase" class="navBarLinks">Purchase</a></il>
                    <il class="navBarItems"><a href="/ContactUs" class="navBarLinks">Contact Us</a></il>
                    <il class="navBarItems"><a href="" class="navBarLinks">Download</a></il>
                    <il class="navBarItems" style="float: right;"><a href="/auth/google" class="navBarLinks">Login</a></il>
                </ul>
            </nav>
        </header>

        <main id="mainContent">
            <h1>Contact Us!</h1>
            <p>If you have any questions let us know how we can assist you!</p>
            
            <form id="formContactUs" action="mailto: terragrouparchives@gmail.com" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="Your Name" class="inputEmailInfo" id="inputName" name="name">

                <input type="email" placeholder="Email" class="inputEmailInfo" id="inputEmail" name="email">

                <textarea rows="9" placeholder="Message" class="inputEmailInfo" form="formContactUs" id="inputMessage"></textarea>

                <input type="submit" id="inputSubmit" value="Submit">
            </form>
        </main>

        <footer id="pageFooter">
            <hr>
            <p id="copyright">
                &copy;TerragroupArchives 2021.
            </p>
        </footer>
    </body>
</html>